body{
    margin:1rem;
    padding: 0px;
    font-family: sans-serif;
    background-color: #eaeade;
}
.color-back{
    border-radius: 1rem;
    margin-bottom:1rem;
    background-color: #fafaf7;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 20%), 0 1px 6px 0 rgb(0 0 0 / 19%);

}
.navigator{
    width: calc(100vw-1rem);
    height: 2.5rem;
    min-height: 2.5rem;

}
.navigator p{
    text-align: center;
    padding-top: 0.25rem;
    margin:0px;
    font-size: 2rem;
    font-weight: 500;
}
.main-container{
    display: flex;
  /*  flex-wrap: wrap;*/
}
.block{
    width: 20rem;
    height: 40rem;
    margin: 1.25rem;
    padding: 0.5rem;
}
.side{

    width: 20vw;
    height: 100vh;
    min-width: 250px;

}
.books{
    width: 25vw;
}
.one-book{
    max-height: 40vh;
}
.one-book > img{
    max-height: 15.625rem;
}

.inputs-header{
    font-size: 2.25rem;
    padding-left: 1rem;
    font-weight: 300;
}
.inputs-header p{
    
        background:  #22303c;
        color:#fafaf7;
        border-radius: 15px;
        display: inline-block;
        padding: 0.2rem 1rem 0.2rem 1rem;
    
}
.inputs-content{
    padding-left: 1rem;
}
.inputs-content .text-inputs{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.price{
    max-width: 5rem;
}
.buttons{
    margin-top: 1rem;
    width: 12rem;
}
.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 0 2rem 2rem;

}
.one-book {
    text-align: center;
    font-family: arial;
  }
.author{
    font-size: 20px;
    margin:0px;
}
.text-left{
    text-align: left;
}
.book-name{
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}
@media screen and (max-width : 600px) {
    .main-container{
        display: flex;
        flex-wrap: wrap;
    }
    .side{
        display: flex;
        width: 100vw;
        height: 100vh;
        flex-direction: column;
        align-items: center;
    }
    .side .inputs-header{
        padding-left: 0rem;
    }
    .content{
        margin: 0rem;
    }
}